@import '../../App.scss';

.techstack {
  width: 100%;
  height: 100%;
  background: #111132;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @include mobile{
      padding: 0 13px;
    }
  @include mobile2{
    padding: 0 13px;
  }
  @include tablet{
    padding: 0 13px;
  }
  @include tablet2{
    padding: 0 13px;
  }
  @include desktop{
    padding: 0 13px;
  }
  @include desktop2{
    padding: 0 11px;
  }

  h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: orange;

    @include mobile{
      font-size: 40px;
    }
    @include mobile2{
      font-size: 48px;
    }
    @include tablet{
      font-size: 57px;
    }
    @include tablet2{
      font-size: 58px;
    }
    @include desktop{
      font-size: 58px;
    }
    @include desktop2{
      font-size: 58px;
    }
  }

  .techContainer {
    position: relative;
    max-width: 1255px;
    width: 100%;
    height: 75%;
    border-radius: 7px;

    &::before {
      content: "";
      position: absolute;
      border-radius: 7px;
      inset: 0;
      background: linear-gradient(
        270deg,
        #ffb200,
        #4535c1,
        #e90074,
        #06d001,
        #f5004f,
        #15f5ba,
        #9400ff
      );
      background-size: 400% 400%;
      animation: moveColors 8s infinite linear;
    }
    @keyframes moveColors {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }
    .mainContainer {
      position: absolute;
      inset: 2px;
      border-radius: 7px;
      background-color: #111132;
      display: flex;
      padding: 20px;


      .textContent {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        overflow: hidden;

        @include mobile{
          width: 100%;
          gap: 10px; // Adjust gap on mobile
        }
        @include mobile2{
          width: 100%;
          gap: 10px;
        }
        @include tablet{
          width: 100%;
          gap: 10px;
        }
        @include tablet2{
          width: 80%;
          gap: 6px;
        }
       
     
        p {
          font-size: 20px;
          font-weight: 600;

          @include mobile {
            font-size: 13px; // Adjust font size for mobile
          }
          @include mobile2{
            font-size: 13px;
          }
          @include tablet{
            font-size: 15px;
          }
          @include tablet2{
            font-size: 16px;
            font-weight: 500;
          }
          @include desktop{
            font-size: 18px;
            font-weight: 500;
          }
          @include desktop2{
            font-size: 19px;
          }
        }
        .slider {
          max-width: 1255px;
          height: 170px;
          display: flex;
          overflow: hidden;

          .sliderContent {
            width: 100px;
            height: 100px;
            margin-left: 40px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;

            @include mobile{
              width: 80px; // Adjust slider width on mobile
              height: 80px;
            }
            @include mobile2{
              width: 83px;
              height: 83px;
            }
            @include tablet{
              width: 87px;
              height: 87px;
            }
            @include tablet2{
              width: 87px;
              height: 87px;
            }
            @include desktop2{
              width: 90px;
              height: 90px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            p {
              text-align: center;
              font-size: 15px;
              font-weight: 500;
              margin-top: 10px;

              @include mobile{
                font-size: 13px;
              }
              @include mobile2{
                font-size: 14px;
              }
              @include tablet{
                font-size: 14px;
              }
              @include tablet2{
                font-size: 13px;
              }
              @include desktop2{
                font-size: 13px;
              }
            }
          }
        }
      }
      .imageContent {
        width: 40%;

        @include mobile{
          display: none; // Ensure imageContent is hidden
        }
        @include mobile2{
          display: none;
        }
        @include tablet{
          display: none;
        }
        @include tablet2{
          width: 60%;
        }

        img {
          width: 100%;
          height: 90%;
          object-fit: contain;
        }
      }
    }
  }
}
